body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Calibri Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0D1117;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}